@model PizzaBox.Domain.Models.Order
<body>
    @foreach (var pizza in Model.Pizzas)
    {
        @pizza.Crust.Name
        @pizza.Size.Name

        @foreach (var topping in pizza.Toppings)
        {
            @topping.Name
        }
    }
    <a href="../home/index">OrderMore</a>
</body>
