@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container">
        <h1 class="text-center">Thank You</h1>
        <h2 class="text-center">Order Will Be Ready in 15 minutes</h2>
        </div>
</body>